.navigation-container {
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 1fr;
  background-color: white;
  height: 100%;
  width: 120px;
  align-items: center;
  text-align: center;

  .nav-link,
  a {
    color: #808080;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: #00cb79;
    }
  }
}